{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Sattle Game</title>
    <link rel="stylesheet" href="{% static 'sattle/styles.css' %}">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
</head>
<body>
    <div class="container">
        <div class="score-container">
            <p>High Score: <span id="high-score">{{ user_high_score }}</span></p>
            <p>Score: <span id="score">0</span></p>
            <span class="correct-feedback">Correct!</span>
        </div>
        <div class="main-content">
            <h1>SatGuess</h1>
            <div class="image-feedback-container">
                <p id="record-score" class="record-score-btn">GOAT High Score: <span id="global-high-score">{{ global_high_score }}</span></p>
                <button id="feedback-btn" class="feedback-btn">Give Feedback</button>
                <img src="{{ image.image.url }}" alt="Satellite Image" class="satellite-image">
            </div>
            <div id="congrats-modal" title="Congratulations!" style="display:none;">
                <p id="congrats-message"></p>
            </div>
            <form method="POST" action="{% url 'submit_guess' %}" id="your-form-id">
                {% csrf_token %}
                <label for="guessed_country">Enter your guess:</label>
                <input type="text" id="guessed_country" name="guessed_country_no_autofill" required autocomplete="off">        
                <input type="hidden" name="image_id" id="image_id_input" value="{{ image.id }}">
                <button type="submit">Submit</button>
            </form>
            <span id="country-error" style="color:red; display:none;">Please choose from the drop-down menu.</span>
            <p id="distance-message"></p>
        </div>
        <div class="tries-skips-container">
            <div class="tries-container">
                <p>Tries left: <span id="tries-left">3</span></p>
                <div class="incorrect-feedback-container"> <!-- Incorrect feedback within tries container -->
                    <span class="incorrect-feedback">X</span>
                    <span class="incorrect-feedback">X</span>
                    <span class="incorrect-feedback">X</span>
                </div>
            </div>
            <div class="skips-container">
                <p>Skips left: <span id="skips-left">3</span></p>
                <button id="skip-button" class="skip-button">Skip</button>
            </div>
        </div>
        <div id="feedback-modal" title="Give Feedback" style="display:none;">
            <form id="feedback-form">
                <textarea placeholder="Write your feedback or feature suggestions here" id="feedback-text" rows="5" cols="50"></textarea>
                <button type="submit">Submit</button>
            </form>
        </div>

    <script>
        $(document).ready(function() {
            $("#congrats-modal").dialog({
                autoOpen: false,
                modal: true,
                buttons: {
                    Okay: function() {
                        $(this).dialog("close");
                    }
                }
            });
            $("#feedback-form").submit(function(e) {
                e.preventDefault();
                var submitButton = $(this).find("button[type='submit']");
                submitButton.prop("disabled", true);  // Disable the button
            
                $.post("{% url 'submit_feedback' %}", {
                    feedback: $("#feedback-text").val()
                }, function(data) {
                    if (data.success) {
                        $("#feedback-modal").dialog("close");
                        alert("Thank you for your feedback!");
                    } else {
                        alert("Error submitting feedback. Please try again.");
                    }
                    submitButton.prop("disabled", false);  // Re-enable the button
                })
                .fail(function() {  // This is where you add the .fail() callback
                    alert("Error submitting feedback. Please try again.");
                    submitButton.prop("disabled", false);  // Re-enable the button
                });
            });
            $("#feedback-modal").dialog({
                autoOpen: false,  // This ensures the dialog doesn't open on page load
                modal: true,      // This makes it a modal dialog
                width: 400        // Set a default width or any other options you need
            });
            $("#feedback-btn").click(function() {
                $("#feedback-modal").dialog("open");
            });
            var skips = 3; // starting with 3 skips

            function updateSkips(skips) {
                $('#skips-left').text(skips);
                if (skips <= 0) {
                    $('#skip-button').prop('disabled', true);  // Disable the button when no skips left
                }
                if (skips>0){
                    $('#skip-button').prop('disabled', false);
                }
            }
            var isRequestInProgress = false;

            $('#skip-button').click(function() {
                if (isRequestInProgress) {
                    return; // Exit the function if a request is already in progress
                }
            
                if (skips > 0) {
                    isRequestInProgress = true; // Set the flag to true to indicate a request is in progress
            
                    skips--;
                    updateSkips(skips);
                    tries = 3; // reset tries when skipped
                    updateTries(tries);
                    $(".incorrect-feedback").hide();
            
                    // Fetch a new random image when skipping
                    $.get("{% url 'home' %}", function(data) {
                        $("<div title='Skipped'>The correct answer was: " + data.old_correct_answer + ".</div>").dialog({
                            modal: true,
                            buttons: {
                                Okay: function() {
                                    $(this).dialog("close");
                                }
                            }
                        });
                        var newRandomImage = data.new_image_url;
                        var newImageId = data.new_image_id;
                        updateImage(newRandomImage);
                        updateImageId(newImageId);
                    }).always(function() {
                        isRequestInProgress = false; // Reset the flag once the request has completed
                        if (tries === 0) {
                            $('#skip-button').prop('disabled', true); // Disable the button if tries are 0
                        }
                    });
                } else {
                    $(this).prop('disabled', true); // Disable the button if skips are not greater than 0
                }
            });
            
            $.ajaxSetup({ cache: false });
            var countries = [
                {% for country in countries %}
                "{{ country }}"{% if not forloop.last %},{% endif %}
                {% endfor %}
            ];
            var tries = 3; // starting with 3 tries
            $("#guessed_country").on('keyup', function() {
                $('#country-error').fadeOut();
            });
            $("#guessed_country").autocomplete({
                source: function(request, response) {
                    var matcher = new RegExp("^" + $.ui.autocomplete.escapeRegex(request.term), "i");
                    var beginningMatches = $.grep(countries, function(item) {
                        return matcher.test(item);
                    });
                    
                    matcher = new RegExp($.ui.autocomplete.escapeRegex(request.term), "i");
                    var containsMatches = $.grep(countries, function(item) {
                        return matcher.test(item) && beginningMatches.indexOf(item) < 0;
                    });
            
                    response(beginningMatches.concat(containsMatches));
                },
                autoFocus: true
            });
            
        
            function updateScore(score) {
                $('#score').text(score);
            }
            function updateTries(tries) {
                $('#tries-left').text(tries);
            }            
        
            $(document).on('submit', '#your-form-id', function(e) {
                e.preventDefault();
                $("button[type='submit']").prop("disabled", true);
                // Validation logic
                let selectedCountry = $("#guessed_country").val();
                if (!countries.includes(selectedCountry)) {
                    $('#country-error').fadeIn();
                    return;  // Exit the submit function early
                } else {
                    $('#country-error').fadeOut();
                }
                $('#distance-message').fadeOut();
                var form = $(this);
                $.post($(this).attr('action'), $(this).serialize(), function(data) {
                    $("#guessed_country").val('');
                    if (data.correct) {
                        updateScore(data.score);
                        $("#high-score").text(data.user_high_score);
                        $("#global-high-score").text(data.global_high_score);
                        if (data.beat_global_high_score) {
                            $("#congrats-message").text("Bravo! You're now the reigning champion with the highest score on the site!");
                            $("#congrats-modal").dialog("open");
                        } else if (data.beat_user_high_score) {
                            $("#congrats-message").text("Congratulations! You've beaten your high score!");
                            $("#congrats-modal").dialog("open");
                        }        
                        updateImage(data.new_image_url);
                        updateImageId(data.new_image_id);
                        tries = 3; // reset the tries if the answer is correct
                        updateTries(tries);
                        $(".correct-feedback").fadeIn().delay(2000).fadeOut(100);
                        $(".incorrect-feedback").hide();
                    } else {
                        tries -= 1;
                        updateTries(tries);
                        if (tries <= 0) {
                            // Show all Xs and set "tries left" to 0
                            $(".incorrect-feedback").show();
                            updateTries(0);
                        
                            let finalScore = data.score;
                            let correctAnswerMessage = data.correct_answer ? '<br>The correct country was: <span style="color:red;">' + data.correct_answer + '</span>. ' : '<br>';
                        
                            $.get("{% url 'reset_score' %}", function() {
                                updateScore(0); 
                                $("<div title='Game Over'>Out of tries! <br>"  + "Your score was: " + finalScore + correctAnswerMessage + "</div>").dialog({
                                    modal: true,
                                    closeOnEscape: false, // prevent closing with the ESC key
                                    buttons: {
                                        Restart: function() {
                                            $(this).dialog("close");
                                            // Fetch a new random image when restarting
                                            $.get("{% url 'home' %}", function(data) {
                                                var newRandomImage = data.new_image_url;
                                                updateImage(newRandomImage);
                                                updateImageId(data.new_image_id);
                                                tries = 3;
                                                updateTries(tries);
                                                updateSkips(3)
                                                $(".incorrect-feedback").hide(); 
                                            });
                                        }
                                    },
                                    open: function(event, ui) {
                                        // Hide the default close button
                                        $(".ui-dialog-titlebar-close", ui.dialog | ui).hide();
                                    }
                                });
                                
                            });
                        } else {
                            let angle = data.angle;
                            let arrowImage = `<img class="inline-arrow" style="transform: rotate(${angle}deg);" src="{% static 'sattle/arrow_up.svg' %}" alt="Direction Arrow">`;
                            let message = `The distance from the center of ${selectedCountry} to the image coordinates is ${data.distance.toFixed(0)} km, direction: ${arrowImage}`;
                            $('#distance-message').html(message).fadeIn();
                            $(`.incorrect-feedback:nth-child(${4-tries})`).fadeIn();
                        }
                    }
                    $("button[type='submit']").prop("disabled", false);
                }).fail(function() {  // handle network errors or server errors
                        $("button[type='submit']").prop("disabled", false);
                });;
                
            });                     
            function updateImage(url) {
                $('img[alt="Satellite Image"]').attr('src', url);
            }
            function updateImageId(id) {
                $('#image_id_input').val(id);
            }      
        });
    </script>
</body>
</html>

