{% load static %}
<!DOCTYPE html>
<html>
<head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sattle Game</title>
    <link rel="icon" href="{% static 'sattle/satellite.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'sattle/styles.css' %}">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
</head>
<body>
    <div class="container">
        <div class="main-content">
            <div class="top-section">
                <div class="left-section">
                    <div class="score-container">
                        <p>High Score: <span id="high-score">{{ user_high_score }}</span></p>
                        <p>Score: <span id="score">0</span></p>
                    </div>
                    <button id="feedback-btn" class="feedback-btn">Give Feedback</button>
                </div>
                <img src="{% static 'sattle/logo.png' %}" alt="SatGuess Logo" class="logo">
            </div>
            <div class="divider"></div>
            <div class="buttons-container">
                <button id="restart-btn" class="restart-btn">Restart</button>   
                <p id="record-score" class="record-score-btn">GOAT High Score: <span id="global-high-score">{{ global_high_score }}</span></p>
                <div class="skips-container">
                    <p class="skips-detail">Skips left: <span id="skips-left">3</span></p>
                    <button id="skip-button" class="skip-button">Skip</button>
                </div>
            </div>
            <div class="image-feedback-container">
                <img src="{{ image.image.url }}" alt="Satellite Image" class="satellite-image">
            </div>
            <div id="congrats-modal" title="Congratulations!" style="display:none;">
                <p id="congrats-message"></p>
            </div>
            <form method="POST" action="{% url 'submit_guess' %}" id="your-form-id">
                {% csrf_token %}
                <input type="text" id="guessed_country" name="guessed_country_no_autofill" required autocomplete="off">        
                <input type="hidden" name="image_id" id="image_id_input" value="{{ image.id }}">
                <button type="submit">Guess</button>
            </form>
            <span id="country-error" style="color:red; display:none;">Please choose from the drop-down menu.</span>
            <div class="guess-history">
                <div class="correct-feedback" style="display:none;"></div>
                <div class="guess-entry placeholder-entry">GUESS #/#</div>
                <div class="guess-entry placeholder-entry"></div>
                <div class="guess-entry placeholder-entry"></div>
                <div class="guess-entry placeholder-entry"></div>
            </div>
        </div>
        <div id="feedback-modal" title="Give Feedback" style="display:none;">
            <form id="feedback-form">
                <textarea placeholder="Write your feedback or feature suggestions here" id="feedback-text" rows="5" cols="50"></textarea>
                <input type="text" id="response-info" placeholder="(Optional) Email or Discord for responses">
                <button type="submit">Submit</button>
            </form>
        </div>        
        <div id="name-message-modal" title="Congratulations!" style="display:none;">
            <p>You've set a new global high score! Enter your name and a message for the leaderboard:</p>
            <form id="name-message-form">
                {% csrf_token %}
                <label for="name">Name:</label>
                <input type="text" id="name" required>
                <label for="message">Message:</label>
                <textarea id="message" rows="5" required></textarea>
                <button type="submit">Submit</button>
            </form>
        </div>
        <div id="global-high-scores-modal" title="Global High Scores History" style="display:none;">
            <table id="high-scores-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Score</th>
                        <th>Message</th>
                        <th>Timestamp</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Rows will be populated by JavaScript -->
                </tbody>
            </table>
        </div>
    <script>
        $(document).ready(function() {
            // Define the showRestartModal function
            function showRestartModal(finalScore, correctAnswer) {
                let correctAnswerMessage = correctAnswer ? '<br>The correct country was: <span style="color:red;">' + correctAnswer + '</span>. ' : '<br>';
                $("<div title='Game Over'>Out of tries! <br>"  + "Your score was: " + finalScore + correctAnswerMessage + "</div>").dialog({
                    modal: true,
                    closeOnEscape: false, // prevent closing with the ESC key
                    buttons: {
                        Restart: function() {
                            $(this).dialog("close");
                            // Fetch a new random image when restarting
                            $.get("{% url 'restart' %}", function(data) {
                                updateImage(data.image_url);
                                updateImageId(data.image_id);
                                skips = data.skips
                                tries = data.tries
                                updateSkips(skips);
                                updateScore(data.score);
                                resetGuessHistory();
                            });
                        }
                    },
                    open: function(event, ui) {
                        // Hide the default close button
                        $(".ui-dialog-titlebar-close", ui.dialog | ui).hide();
                    }
                });
            }
            
            $("#name-message-modal").dialog({
                autoOpen: false,
                modal: true
            });
            $("#congrats-modal").dialog({
                autoOpen: false,
                modal: true,
                buttons: {
                    Okay: function() {
                        $(this).dialog("close");
                    }
                }
            });
            var isDataSubmitted = false;
            $("#name-message-form").submit(function(e) {
                e.preventDefault();
            
                // Get the CSRF token
                var csrftoken = $(this).find("[name=csrfmiddlewaretoken]").val();
            
                // Check if the name and message are blank and provide default values if they are
                var nameValue = $("#name").val().trim() === "" ? "(noname)" : $("#name").val();
                var messageValue = $("#message").val().trim() === "" ? "(nomessage)" : $("#message").val();
            
                // Disable the submit button to prevent multiple submissions
                var submitButton = $(this).find("button[type='submit']");
                submitButton.prop("disabled", true);
            
                $.ajax({
                    url: "{% url 'save_global_high_score' %}",
                    type: 'POST',
                    data: {
                        name: nameValue,
                        message: messageValue,
                        score: $("#score").text(),  // Assuming this is the user's score
                        csrfmiddlewaretoken: csrftoken  // Include the CSRF token
                    },
                    success: function(data) {
                        if (data.success) {
                            isDataSubmitted = true;  // Mark data as submitted
                            $("#name-message-modal").dialog("close");
                            alert("Your score has been recorded!");
                        } else {
                            alert("Error saving your score. Please try again.");
                            // Re-enable the submit button if there's an error
                            submitButton.prop("disabled", false);
                        }
                    },
                    error: function() {
                        alert("Error saving your score. Please try again.");
                        // Re-enable the submit button if there's a network or server error
                        submitButton.prop("disabled", false);
                    }
                });
            });      
            $("#name-message-modal").on("dialogclose", function(event) {
                if (!isDataSubmitted) {
                    $.ajax({
                        url: "{% url 'save_global_high_score' %}",
                        type: 'POST',
                        data: {
                            name: "(noname)",
                            message: "(nomessage)",
                            score: $("#score").text(),
                            csrfmiddlewaretoken: $(this).find("[name=csrfmiddlewaretoken]").val()
                        },
                        success: function(data) {
                            if (data.success) {
                                alert("Your score has been recorded with default values!");
                            } else {
                                alert("Error saving your score. Please try again.");
                            }
                            isDataSubmitted = false; // Reset flag here
                        },
                        error: function() {
                            alert("Error saving your score. Please try again.");
                            isDataSubmitted = false; // Reset flag here too
                        }
                    });
                } else {
                    // In case the dialog was closed after a manual submission
                    isDataSubmitted = false;
                }
            });
            $('.restart-btn').click(function() {
                // Show confirmation dialog before restarting
            
                // Create the content structure using jQuery
                var $dialogContent = $("<div title='Confirm Restart'></div>");
                var $restartContainer = $("<div class='restart-container'></div>");
                var $restartMessage = $("<p class='restart-message'>Are you sure you want to restart the game?</p>");
                
                $restartContainer.append($restartMessage);
                $dialogContent.append($restartContainer);
            
                // Now use this structure for your dialog
                $dialogContent.dialog({
                    modal: true,
                    buttons: {
                        Yes: function() {
                            $(this).dialog("close");
                            // Fetch a new random image when restarting
                            $.get("{% url 'restart' %}", function(data) {
                                updateImage(data.image_url);
                                updateImageId(data.image_id);
                                skips = data.skips
                                tries = data.tries
                                updateSkips(skips);
                                updateScore(data.score);
                                resetGuessHistory();
                            });
                        },
                        No: function() {
                            $(this).dialog("close");
                        }
                    }
                });
            });                   
                   
            $("#feedback-form").submit(function(e) {
                e.preventDefault();
                var submitButton = $(this).find("button[type='submit']");
                submitButton.prop("disabled", true);  // Disable the button
            
                $.post("{% url 'submit_feedback' %}", {
                    feedback: $("#feedback-text").val(),
                    response_info: $("#response-info").val()  // Sending the email or Discord info
                }, function(data) {
                    if (data.success) {
                        $("#feedback-modal").dialog("close");
                        alert("Thank you for your feedback!");
                    } else {
                        alert("Error submitting feedback. Please try again.");
                    }
                    submitButton.prop("disabled", false);  // Re-enable the button
                })
                .fail(function() {  // This is where you add the .fail() callback
                    alert("Error submitting feedback. Please try again.");
                    submitButton.prop("disabled", false);  // Re-enable the button
                });
            });            
            $("#feedback-modal").dialog({
                autoOpen: false,  // This ensures the dialog doesn't open on page load
                modal: true,      // This makes it a modal dialog
                width: 400        // Set a default width or any other options you need
            });
            $("#feedback-btn").click(function() {
                $("#feedback-modal").dialog("open");
            });
            var isDialogInitialized = false;
            $("#record-score").click(function() {
                // Initialize the dialog only if it hasn't been initialized before
                if (!isDialogInitialized) {
                    $("#global-high-scores-modal").dialog({
                        autoOpen: false,
                        modal: true,
                        width: 600, // Adjust width as needed
                        buttons: {
                            Close: function() {
                                $(this).dialog("close");
                            }
                        }
                    });
                    isDialogInitialized = true;
                }
        
                $.get("{% url 'get_global_high_scores' %}", function(data) {
                    // Clear any existing rows
                    $("#high-scores-table tbody").empty();
                    
                    // Populate the table with the new data
                    data.forEach(function(entry) {
                        var row = `
                            <tr>
                                <td>${entry.name}</td>
                                <td>${entry.score}</td>
                                <td>${entry.message}</td>
                                <td>${new Date(entry.timestamp).toLocaleString()}</td>
                            </tr>
                        `;
                        $("#high-scores-table tbody").append(row);
                    });
                    
                    // Open the modal
                    $("#global-high-scores-modal").dialog("open");
                    
                }).fail(function() {
                    alert("Error fetching high scores. Please try again later.");
                });
            });
            function updateSkips(skips) {
                $('#skips-left').text(skips);
                if (skips <= 0) {
                    $('#skip-button').prop('disabled', true);  // Disable the button when no skips left
                }
                if (skips>0){
                    $('#skip-button').prop('disabled', false);
                }
            }
            var isRequestInProgress = false;
            $('#skip-button').click(function() {
                if (isRequestInProgress) {
                    return; // Exit the function if a request is already in progress
                }
            
                if (skips > 0) {
                    isRequestInProgress = true; // Set the flag to true to indicate a request is in progress
                    
                    // Get the CSRF token from the CSRF input field
                    var csrfToken = $('[name=csrfmiddlewaretoken]').val();
            
                    // Fetch a new random image when skipping
                    $.ajax({
                        type: 'POST', 
                        url: "{% url 'home' %}",
                        data: {
                            action: 'skip',
                            csrfmiddlewaretoken: csrfToken  // Add CSRF token here
                        },
                        success: function(data) {
                            $("<div title='Skipped'>The correct answer was: " + data.old_correct_answer + ".</div>").dialog({
                                modal: true,
                                buttons: {
                                    Okay: function() {
                                        $(this).dialog("close");
                                    }
                                }
                            });
                            var newRandomImage = data.new_image_url;
                            var newImageId = data.new_image_id;
                            updateImage(newRandomImage);
                            updateImageId(newImageId);
                            skips = data.game_state.skips
                            tries = data.game_state.tries
                            updateSkips(skips);
                            resetGuessHistory();
                        },
                        complete: function() {
                            isRequestInProgress = false; // Reset the flag once the request has completed
                            if (skips === 0) {
                                $('#skip-button').prop('disabled', true); // Disable the button if tries are 0
                            }
                        }
                    });
                } else {
                    $(this).prop('disabled', true); // Disable the button if skips are not greater than 0
                }
            });
            
            $.ajaxSetup({ cache: false });
            var countries = [
                {% for country in countries %}
                "{{ country }}"{% if not forloop.last %},{% endif %}
                {% endfor %}
            ];
            
            $("#guessed_country").on('keyup', function() {
                $('#country-error').fadeOut();
            });
            $("#guessed_country").autocomplete({
                source: function(request, response) {
                    var matcher = new RegExp("^" + $.ui.autocomplete.escapeRegex(request.term), "i");
                    var beginningMatches = $.grep(countries, function(item) {
                        return matcher.test(item);
                    });
                    
                    matcher = new RegExp($.ui.autocomplete.escapeRegex(request.term), "i");
                    var containsMatches = $.grep(countries, function(item) {
                        return matcher.test(item) && beginningMatches.indexOf(item) < 0;
                    });
            
                    response(beginningMatches.concat(containsMatches));
                },
                autoFocus: true
            });
            
            function updateScore(score) {
                $('#score').text(score);
            }
            function resetGuessHistory() {
                var currentGuessNumber = (full_tries + 1) - tries;
                var initialGuessHistory = `
                    <div class="correct-feedback" style="display:none;"></div>
                    <div class="guess-entry placeholder-entry">GUESS ${currentGuessNumber}/4</div>
                    <div class="guess-entry placeholder-entry"></div>
                    <div class="guess-entry placeholder-entry"></div>
                    <div class="guess-entry placeholder-entry"></div>
                `;
                $('.guess-history').html(initialGuessHistory);
            }      
            function updatePlaceholders() {
                var placeholders = $('.guess-history .placeholder-entry');
                // Remove the latest (top) placeholder to insert a guess entry in its place
                placeholders.first().remove();
                
                var currentGuessNumber = (full_tries + 1) - tries;
                $(placeholders[1]).text("GUESS " + currentGuessNumber + "/4");
            }
            function displayGuessMessage(country, distance, angle) {
                // Create the guess entry HTML structure using jQuery
                var $entry = $("<div class='guess-entry'></div>");
                var $country = $("<span></span>").text(country);
                var $distance = $("<span></span>").attr('data-start', 20000).attr('data-end', distance).text("20000 km");
                var $arrow = $("<img>").attr('src', "{% static 'sattle/arrow_up.svg' %}")
                                        .css('transform', 'rotate(' + angle + 'deg)')
                                        .addClass("inline-arrow");
                
                $entry.append($country, $distance, $arrow);
            
                // Add the new guess at the beginning
                $('.guess-history').prepend($entry);
                
                // Animation for counting down from 20000 km to actual distance
                $({ Counter: 20000 }).animate({ Counter: $distance.attr('data-end') }, {
                    duration: 1000,
                    easing: 'swing',
                    step: function() {
                        $distance.text(Math.ceil(this.Counter) + " km");
                    }
                });
                
                // Decrement the tries and call the updatePlaceholders function
                updatePlaceholders();
            }
            
            function displayCorrectFeedback(country, angle) {
                // Create the feedback entry HTML structure using jQuery
                var $entry = $("<div class='guess-entry'></div>");
                var $country = $("<span></span>").text(country);
                var $distance = $("<span></span>").attr('data-end', 0).text("20000 km");
                var $arrow = $("<img>").attr('src', "{% static 'sattle/arrow_up.svg' %}")
                                        .css('transform', 'rotate(' + angle + 'deg)')
                                        .addClass("inline-arrow");
                
                $entry.append($country, $distance, $arrow);
            
                // Add the new feedback at the beginning
                $('.guess-history').prepend($entry);
                
                // Animation for counting down from 20000 km to 0
                $({ Counter: 20000 }).animate({ Counter: $distance.attr('data-end') }, {
                    duration: 1000,
                    easing: 'swing',
                    step: function() {
                        $distance.text(Math.ceil(this.Counter) + " km");
                    }
                });
                
                // Decrement the tries and call the updatePlaceholders function
                updatePlaceholders();
            }
            var skips = {{ game_state.skips }}; 
            var tries = {{ game_state.tries }};
            var full_tries = 4
            var $guessHistory = $(".guess-history");
            updateImage("{{ game_state.image_url }}");
            updateImageId("{{ game_state.image_id }}");
            updateScore("{{ game_state.score }}");
            updateSkips(skips);
            resetGuessHistory()
            $(document).on('submit', '#your-form-id', function(e) {
                e.preventDefault();
                $("button[type='submit']").prop("disabled", true);
                // Validation logic
                let selectedCountry = $("#guessed_country").val();
                if (!countries.includes(selectedCountry)) {
                    $('#country-error').fadeIn();
                    $("button[type='submit']").prop("disabled", false)
                    return;  // Exit the submit function early
                } else {
                    $('#country-error').fadeOut();
                }
                var form = $(this);
                $.post($(this).attr('action'), $(this).serialize(), function(data) {
                    $("#guessed_country").val('');
                    if (data.correct) {
                        displayCorrectFeedback(selectedCountry, data.angle);
                        setTimeout(function() {
                            $(".guess-history .correct-feedback").text("Correct!"); // Change the message if needed
                            $(".guess-history .correct-feedback").fadeIn().delay(700).fadeOut(300);
                            setTimeout(function(){
                                tries = full_tries; // reset the tries if the answer is correct    
                                resetGuessHistory();
                                updateScore(data.score);
                                $("#high-score").text(data.user_high_score);
                                $("#global-high-score").text(data.global_high_score);
                                if (data.beat_global_high_score) {
                                    $("#congrats-message").text("Bravo! You're now the reigning champion with the highest score on the site! After the end of this game, you will be prompted to enter leaderboard details.");
                                    $("#congrats-modal").dialog("open");
                                } else if (data.beat_user_high_score) {
                                    $("#congrats-message").text("Congratulations! You've beaten your high score!");
                                    $("#congrats-modal").dialog("open");
                                }        
                                updateImage(data.new_image_url);
                                updateImageId(data.new_image_id);
                                
                            },1000)
                        }, 1350);
                    } else {
                        tries -= 1;
                        displayGuessMessage(selectedCountry, data.distance.toFixed(0), data.angle);
                        setTimeout(function() {
                            if (tries <= 0) {
                                // Show all Xs and set "tries left" to 0
                                let finalScore = data.score;
                                let correctAnswerMessage = data.correct_answer ? '<br>The correct country was: <span style="color:red;">' + data.correct_answer + '</span>. ' : '<br>';
                                if (data.prompt_for_name_message) {
                                    // Show a modal to get the user's name and message
                                    $("#name-message-modal").dialog({
                                        open: function() {
                                        },
                                        close: function() {
                                            // This will be executed when the name-message-modal is closed
                                            showRestartModal(data.score, data.correct_answer);
                                        }
                                    }).dialog("open").dialog("moveToTop");
                                } else {
                                    showRestartModal(data.score, data.correct_answer);
                                }
                            }
                        }, 1150);
                    }
                    $("button[type='submit']").prop("disabled", false);
                }).fail(function() {  // handle network errors or server errors
                        $("button[type='submit']").prop("disabled", false);
                });;
                
            });                     
            function updateImage(url) {
                $('img[alt="Satellite Image"]').attr('src', url);
            }
            function updateImageId(id) {
                $('#image_id_input').val(id);
            }      
        });
    </script>
</body>
</html>

