html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
:root {
    --primary-color: #007BFF;
    --primary-color-hover: #0056b3;
    --secondary-color: #f8f9fa;
    --secondary-color-hover: #e2e6ea;
    --border-color: #ced4da;
    --error-color: #e3342f;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
}

.container {
    /* Changed the column definition to occupy the full width */
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
    overflow-y: auto;
}

.main-content {
    padding: 20px 40px 40px 40px; /* Reduced the top padding */
    text-align: center;
}

h1 {
    color: #2a2a2a; /* Darker shade for better contrast */
    font-size: 26px; /* Slightly increased font size */
    font-weight: bold; /* Bold font weight */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* Subtle text shadow */
    margin-bottom: 15px; /* Reduced margin-bottom to move it up */
}

.satellite-image {
    width: 50%;
    height: auto;
    max-height: 55vh;
    border-radius: 12px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

skip-button[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
    margin-top: 20px;
}

#feedback-modal, 
#feedback-text {
    padding: 20px;
    width: 100%;
}

#feedback-text {
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Arial', sans-serif;
    resize: vertical;
}

#feedback-text, #response-info {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;  /* Add a bit of space between the textarea and the input field */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;  /* Ensures padding doesn't make the input wider than 100% */
}

#feedback-form button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

#feedback-form button[type="submit"]:hover {
    background-color: #45a049;
}
.inline-arrow {
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    transform-origin: center;
}


#name-message-modal {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#name-message-modal label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

#name-message-modal input[type="text"],
#name-message-modal textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    transition: border-color 0.3s;
}

#name-message-modal input[type="text"]:focus,
#name-message-modal textarea:focus {
    border-color: #007BFF;
    outline: none;
}

#name-message-modal button[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#name-message-modal button[type="submit"]:hover {
    background-color: #0056b3;
}
.skips-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F5F5F5; /* Light gray */
}

.skips-detail {
    margin: 0;  
    padding: 0;  
    margin-right: 20px;  
    line-height: 1.5; 
    align-self: center;
    color: #555555;  /* Darker gray for the text for contrast */
    margin-top: 10px;
}

#skip-button {
    padding: 8px 12px;
    line-height: 1;
    cursor: pointer;
    background: #e6e6e6; /* Slightly darker gray for the button */
    border: 1px solid #BDBDBD; /* Border for definition */
    color: #333333; /* Even darker gray for the text */
    border-radius: 4px;
}

#skip-button:hover {
    background: #D0D0D0; /* A bit darker on hover for visual feedback */
}
.correct-feedback {
    padding: 10px;
    background-color: #e0f7fa;
    border: 1px solid #a2d5f2;
    border-radius: 5px;
    margin: 5px 0;
    text-align: center;
    color: #0077c2;
    font-weight: bold;
}

.divider {
    width: 80%; /* Adjust width as needed */
    height: 1px; /* Thin line */
    background: linear-gradient(to right, transparent, #ccc, transparent);
    margin: 10px auto; /* Vertical spacing and centering */
    opacity: 0.7; /* Slight transparency for a softer look */
}
#global-high-scores-modal {
    width: 90%; /* Use a larger portion of the screen on mobile */
    max-width: 600px; /* Set a max width for larger screens */
    overflow-y: auto; /* Allow scrolling if content overflows */
    padding: 15px; /* Adjust padding for mobile */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

/* High Scores Table */
#high-scores-table {
    width: 100%; /* Full width to utilize space */
    border-collapse: collapse; /* Collapses cell borders */
    font-size: 14px; /* Adjust font size for mobile */
}

#high-scores-table th, #high-scores-table td {
    padding: 10px; /* Increase padding for touch-friendliness */
    text-align: center; /* Center align text for better presentation */
    border: 1px solid #ddd; /* Border to separate cells */
}

#high-scores-table th {
    background-color: #4CAF50; /* Header background color */
    color: white; /* Header text color */
}

#high-scores-table tbody {
    display: block; /* Allows tbody to be scrollable */
    max-height: 300px; /* Set a max height */
    overflow-y: auto; /* Add scroll if content overflows */
}

#high-scores-table thead, #high-scores-table tbody tr {
    display: table; /* Allows rows to behave like a table */
    width: 100%; /* Full width */
    table-layout: fixed; /* Fixed layout for performance */
}

.restart-message {
    padding: 20px;
    background: linear-gradient(135deg, #fdfdfd, #f9f9f9);  /* Subtle gradient for elegance */
    border: 2px solid #d43f00;                             /* Border for emphasis */
    border-radius: 8px;                                    /* Rounded corners */
    font-size: 1.3em;                                      /* Slightly larger font size for prominence */
    text-align: center;                                    /* Centered text */
    color: #d43f00;                                        /* Red color for emphasis */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);             /* Soft shadow for depth */
    margin: 20px 0;                                        /* Space it out from other elements */
    font-weight: 500;                                      /* Semi-bold font weight for emphasis */
}

.restart-container {
    background-color: #fff;            /* White background for contrast */
    padding: 30px;                     /* Increased padding for spaciousness */
    border-radius: 10px;               /* Slightly larger rounded corners */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);  /* Slightly more pronounced shadow for depth */
    text-align: center;                /* Centered content */
    margin-top: 20px;                  /* Space from the top */
    border: 1px solid rgba(0, 0, 0, 0.1);  /* Subtle border for more depth */
}

.guess-history {
    padding: 20px;
    border: 2px solid #b0e0a8; /* Soft green border */
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    max-height: 250px;
    overflow-y: auto;
    background-color: #e8f5e1; /* Light muted green background */
    width: 47%;
    margin: 0 auto; /* Center the form */
}


.guess-entry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 12px; /* Padding for individual entries */
    background-color: #ffffff;
    border-radius: 5px; /* Rounded corners for each entry */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05); /* A subtle shadow for depth */
    margin-bottom: 10px; /* Increased margin for better spacing */
    transition: background-color 0.3s; /* Transition effect for hover */
}
.guess-entry:hover{
    background-color: #f0eeee;
}

.buttons-container {
    width: 50%;  /* Reduce the width to half */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto; /* Vertical spacing and centering */
}

.buttons-container > * {
    margin: 0; 
    padding: 5px 0; /* Adjust this to your need. Here, I've added vertical padding to center align items */
}

#your-form-id {
    width: 50%; /* Set the form's width to match the top-section */
    margin: 0 auto; /* Center the form */
}

#your-form-id input[type="text"] {
    font-size: 18px;
    padding: 10px 15px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

#your-form-id input[type="text"]:focus {
    border-color: var(--primary-color);
    outline: none;
}

#your-form-id button[type="submit"] {
    font-size: 18px;
    padding: 10px 15px;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#your-form-id button[type="submit"]:hover {
    background-color: var(--primary-color-hover);
}

#your-form-id button[type="submit"]:active {
    transform: scale(0.98);
}

#your-form-id button[type="submit"]:disabled {
    background-color: #aaa;
    cursor: not-allowed;
}

#skip-button:disabled {
    background-color: #f1f1f1;
    cursor: not-allowed;
}
/* Parent container for the top section to use Flex */
.top-section {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
    padding: 5px 0; /* Reduced the padding to make the section smaller */
}

.left-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch; /* Ensure children stretch the full width of this container */
}

#feedback-btn {
    order: 2;
    align-self: center; /* Center the button within its container */
    width: 100%; /* Set button width to 100% of its container */
    padding: 5px 10px; 
    font-size: 0.9em;
}


.logo {
    order: 1; 
    max-width: 63%; /* maximum width it can take */
    height: auto; /* let the height adjust according to width */
    align-self: center; /* vertically align the logo in the center */
    margin-right: 60px;
}

.score-container {
    text-align: center;
    background: #e6e6e6;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align content to the start/left */
    border: 1px solid rgba(0, 0, 0, 0.05); /* A subtle border */
    order: 1;
    width: 80%; /* Set score-container width to 100% of its container */
}
.score-container p {
    margin: 5px 0;
    font-size: 1.2em; /* Slightly larger font for better readability */
}

.score-container span {
    font-weight: 600; /* Bold font for scores */
    font-size: 1.2em; /* Emphasize the scores more */
}

/* Common styles for all buttons */
.button, .feedback-btn, .restart-btn, .record-score-btn, .skip-button {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin-top: 10px;
}

.button:hover, .feedback-btn:hover, .restart-btn:hover, .record-score-btn:hover, .skip-button:hover {
    transform: scale(1.05);
}

.button:focus, .feedback-btn:focus, .restart-btn:focus, .record-score-btn:focus, .skip-button:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Feedback - blue */
.feedback-btn {
    background-color: #4A90E2;
    color: #FFFFFF;
}

.feedback-btn:hover {
    background-color: #357ABD;
}

.restart-btn {
    background-color: #FF5F5F; /* A bright shade of red */
    color: #FFFFFF;
}

.restart-btn:hover {
    background-color: #E54747; /* A slightly darker shade of red for the hover effect */
}

/* High Scores - green */
.record-score-btn {
    background-color: #7ED321;
    color: #FFFFFF;
    margin-left: 35px;
}

.record-score-btn:hover {
    background-color: #5BA714;
}

.placeholder-entry {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px; /* Assuming a standard height, adjust as required */
    font-style: italic;
    color: #a8a8a8; /* Adjust color to preference */
}


@media (max-width: 768px) {
    .score-container p {
        margin: 5px 0;
        font-size: 0.8em; /* Slightly larger font for better readability */
    }
    
    .score-container span {
        font-weight: 600; /* Bold font for scores */
        font-size: 0.8em; /* Emphasize the scores more */
    }

    .buttons-container {
        flex-direction: row;  /* Change from column to row */
        flex-wrap: wrap; 
        width: 90%;
        align-items: center;  
    }
    .record-score-btn{
        margin-left: 0;
    }
    .record-score-btn, 
    #restart-btn {
        margin: 5px 1%;
        box-sizing: border-box; /* To make sure padding and border don't increase the button's size */
        align-items: center;  /* Align the content in the center */
        display: flex;  /* To use the align-items property */
        justify-content: center; /* Center the content horizontally */
    }

    .record-score-btn{
        width: 60%; 
    }
    .restart-btn{
        width: 35%;
    }
    .buttons-container > .skips-container {
        flex-basis: 100%; /* Takes full width */
        margin-top: 10px; 
    }
    #your-form-id {
        width: 100%; /* Set the form's width to match the top-section */
        margin: 0 auto; /* Center the form */
    }
    .logo {
        max-width: 100%; /* maximum width it can take */
    }
    .score-container {
        width: 73%; /* Set score-container width to 100% of its container */
    }
    .top-section {
        width: 100%;
    }
    
    #high-scores-table th, #high-scores-table td {
        padding: 8px; /* Slightly reduce padding for smaller screens */
        font-size: 12px; /* Reduce font size for mobile */
    }

    #global-high-scores-modal {
        padding: 10px; /* Reduce padding for mobile */
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: flex-start; /* Aligns content to the top */
    }

    .main-content {
        padding: 5px; 
        padding-bottom: 20px; 
        position: relative; 
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        width: 100%; 
    }

    h1 {
        margin-top: 5px; /* Reduced space above the title */
        margin-bottom: 10px; 
    }

    .satellite-image {
        width: 100%;
        max-height: 50vh; /* Set a maximum height relative to the viewport */
        margin-bottom: 10px; /* Reduced space below the image */
    }
    .divider {
        width: 90%; /* Adjust width for smaller screens */
    }
    .logo {
        max-width: 50%;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    .guess-history {
        width: calc(100% - 30px);
        padding: 20px 15px; /* Add 15px horizontal padding to match the input/button */
        margin: 0 auto; /* Centering the element if it doesn't span the entire width */
        max-height: 250px;
    }

}

